  <div class="container loggin_form">
    <h2>create new user</h2>
    <%=render 'form' %>
  </div>
</div>
<div class="">
  <p id="loggin_form"> or <span class="badge badge-pill badge-light"><%=link_to "login",new_session_path %></span></p>
</div>
<%=render 'layouts/footer'%>
