h3{
  padding-top: 80px;
  color:white;
  font-weight: bolder;
  text-align: center;
}
.content{
  height: 200px;
  width: 100%;
  background: image-url("apps.jpg");
}
.search{
  text-align: center;
}
.search input{
  width: auto;
  opacity:0.6;
}
.nav-top a{
  color: white;
  font-size: 20px;
}
